a.search{color: #333;}
.padding{padding-top:10px;padding-bottom:10px;}
#search{border-radius:30px;padding-left:20px;}
.form{position: relative;}
.form a{position: absolute;top: -3px;right: 22px;cursor: pointer;}
.arrow{margin:20px 0;}
.panel-title a{display:block;padding:10px 15px;text-decoration: none;}
.panel-body{background: #eef2f5;}
.panel-heading{padding:0;}
.panel-heading>h4>a{padding:20px 30px;}
/*设置两列显示时文本超出省略号，鼠标悬浮显示完整*/
@media (min-width: 768px) {
	h4.panel-title>a{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	h4.panel-title>a:hover{
		overflow: visible;  
		text-overflow: ellipsis;
		white-space: nowrap;  
	}
}