/* 这里写媒体查询来设置一下col-6 和col-12下字体大小*/
@media screen and (min-width: 320px) and (max-width: 768px) { /*手机*/
.azimuth{font-size:.32rem}
.feedback img{width:2.2rem}
.feedback div.pull-left{margin-left: 2rem;}
.feedback .p1{font-size:.6rem;}
.feedback .p2{font-size:.4rem}
}
@media screen and (min-width: 768px) { /*PC*/
.azimuth{font-size:.16rem}
.feedback img{width:1.1rem}
.feedback div.pull-left{margin-left:.5rem}
.feedback .p1{font-size:.3rem}
.feedback .p2{font-size:.2rem}
}
/*页面通用样式*/
a.search{color:#333;}
.padding{padding-top:10px;padding-bottom:10px;}
#search{border-radius:20px;padding-left:20px;}
.form{position: relative;}
.form a{position: absolute;top: -3px;right: 22px;cursor: pointer;}
.text-indent{text-indent: 1em;margin-top:50px;}

//常见问题部分
.quest>div>div{padding:23px 20px;margin-top: 10px}
.quest .col-sm-3{margin-top:20px}
.quest img{margin:0 auto;}
.quest a{color: #666;display:block;padding:22px 8px;border-radius: 15px;border:1px solid #abbfcc;transition:transform .25s ease-out;}
.quest a:hover{text-decoration: none;color: #333;box-shadow: 0 5px 10px rgba(0,0,0,.2);border-color: #aaa;transform:translateY(-2px);}
.quest p{margin-top: 10px}
//意见反馈
.feedback>.row>div.col-sm-6{padding:10px;}
.feedback a{display: block;overflow:hidden;padding:40px 60px;border:1px solid #d7d7d5;border-radius:10px;cursor:pointer;transition:transform .25s ease-out;}
.feedback a:hover{box-shadow: 0 5px 10px rgba(0,0,0,.2);border-color: #aaa;transform:translateY(-2px);}
.feedback div.pull-left{margin-left: .5rem;height:100%}
.feedback .p2{color:#000;}
