a.search{color: #333;}
.padding{padding-top:10px;padding-bottom:10px;}
#search{border-radius:30px;padding-left:20px;}
.form{position: relative;}
.form a{position: absolute;top: -3px;right: 22px;cursor: pointer;}
.arrow{margin:20px 0;}
.que_list{margin-top: 10px;letter-spacing: 3px}
.question{padding: 20px;background: #0077bf;border-top-left-radius: 8px;border-top-right-radius: 8px;cursor:pointer;}
.bor{border: 1px solid #ccc;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;background: #fff;}
.answer{padding: 20px; background: #eef2f5;display: none;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
